name: GitHub Actions 1
on: [push]
jobs:
  Try-Out-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Get the last run_id
        id: get_last_run_id
        # run: |
        #   echo 'LAST_RUN_ID<<EOF' >> $GITHUB_ENV
        #   gh run list -q ".[0].databaseId" --json databaseId >> $GITHUB_ENV
        #   echo 'EOF' >> $GITHUB_ENV
        run: echo "::set-output name=last_run_id:`gh run list -q ".[0].databaseId" --json databaseId`"
      - name: Print the last run_id
        id: print_last_run_id
        run: echo "The last run_id is ${{ steps.get_last_run_id.outputs.last_run_id }}"
      - name: Print last run log
        id: print_last_run_log
        run: echo "`gh run view ${{ steps/get_last_run_id.outputs.last_run_id }}`"
